body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(45deg, #837fd7 0%, #9ea2a3 74%);
    /* font-size: 20px; */
}

h1, h5 {
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
}

a {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

table{
    margin: 0 auto;
}

.footer{
    text-align: center;
    font-size: 0.8rem;
}

.container{
    /* border: solid blue 2px; */
}

.row{
    /* border: solid red 2px; */
}

.buttonHolder{
    text-align: center;
}

.img-player, .img-opponent{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 25%; */
}

.game-logs{
    background-color: #333;
    width: 100%; 
    overflow: auto;

    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    
    font-size: 12px;
    line-height: 20px;
}

img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

.shake-down {
    animation: goDown 0.75s;
    animation-iteration-count: infinite;
}

.shake-up {
    animation: goUp 0.75s;
    animation-iteration-count: infinite;
}
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

@keyframes rotate {
      0% { transform: translate(1px, 1px) rotate(0deg); }
      25% { transform: translate(1px, 1px) rotate(90deg); }
      50% { transform: translate(1px, 1px) rotate(180deg); }
      75% { transform: translate(1px, 1px) rotate(270deg); }
      100% { transform: translate(1px, 1px) rotate(360deg); }
  }

@keyframes goUp {
    0% { transform: translate(0px, 0px) rotate(0deg); }
    12% { transform: translate(50px, -25px) rotate(0deg); }
    25% { transform: translate(100px, -50px) rotate(0deg); }
    37% { transform: translate(150px, -75px) rotate(0deg); }
    50% { transform: translate(200px, -100px) rotate(0deg); }
    62% { transform: translate(150px, -75px) rotate(0deg); }
    75% { transform: translate(100px, -50px) rotate(0deg); }
    88% { transform: translate(50px, -25px) rotate(0deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
}
@keyframes goDown {
    0% { transform: translate(0px, 0px) rotate(0deg); }
    12% { transform: translate(-50px, 25px) rotate(0deg); }
    25% { transform: translate(-100px, 50px) rotate(0deg); }
    37% { transform: translate(-150px, 75px) rotate(0deg); }
    50% { transform: translate(-200px, 100px) rotate(0deg); }
    62% { transform: translate(-150px, 75px) rotate(0deg); }
    75% { transform: translate(-100px, 50px) rotate(0deg); }
    88% { transform: translate(-50px, 25px) rotate(0deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
}

.hide-up{
    display: none;
}

.hide-down{
    display: none;
}

.progress-bar{
    background-color: #dc3545;
}

td, th{
    font-size: 0.8rem;
}

audio { 
    width: 150px; 
}